/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins:wght@600;700&display=swap");
$logo: "DM Sans", sans-serif;
$main-font: "Poppins", sans-serif;

/*Section Colors*/
$s1-bg: #8fc8ff;
$s2-bg: #ffd485;
$s3-bg: #ff9292;
$s4-bg: #fff3cf;

/*Font colors*/
$black: #181818;
$light-black: #444444;
