/* Reset Css*/
/*
  1. Use a more-intuitive box-sizing model.
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins:wght@600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*Fonts*/
/*Section Colors*/
/*Font colors*/
.home-right .img-1 {
  width: 60%;
  height: auto;
  float: right;
  padding-right: 5%;
  max-height: 900px;
}

.home-right .img-4 {
  position: absolute;
  width: 60%;
  height: auto;
  min-width: 450px;
  max-height: 900px;
  right: 0%;
  bottom: 0px;
}

.home-right .img-3 {
  width: 60%;
  height: auto;
  float: left;
  padding-left: 5%;
  padding-top: 5%;
  max-height: 870px;
}

.text-right {
  position: absolute;
  top: 44%;
  left: 60%;
  width: 50%;
  color: #444444;
}

.text-right h1 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #181818;
  margin: auto;
}

.text-right p {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: #444444;
  margin: -2% 0.2%;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center h1 {
  max-width: 50%;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #181818;
  margin-bottom: 50vh;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center .img-2 {
  position: absolute;
  width: 50%;
  height: auto;
  min-width: 450px;
  max-height: 900px;
  bottom: 0px;
}

.logo {
  position: fixed;
  top: 2rem;
  left: 3.8rem;
  z-index: 4;
  display: block;
  width: auto;
  height: 6.1875rem;
  text-decoration: none;
}

.logo h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  letter-spacing: -2px;
}

.home-left {
  position: absolute;
  top: 44%;
  left: 18%;
  -webkit-transform: translate(-10%, -40%);
          transform: translate(-10%, -40%);
  width: 50%;
  color: #444444;
}

.home-left .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5rem;
}

.home-left h1 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #181818;
  margin: auto;
}

.home-left p {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: #444444;
  margin: -2% 0.2%;
}

#fullpage #s1 {
  background: #8fc8ff;
  width: 100%;
}

#fullpage #s2 {
  background: #ffd485;
}

#fullpage #s3 {
  background: #ff9292;
}

#fullpage #s4 {
  background: #fff3cf;
}

span {
  background: #444444 !important;
}
/*# sourceMappingURL=style.css.map */